<video id="video" width="640" height="480" autoplay></video>
<button id="snap">Take Photo</button>
<canvas id="canvas" width="640" height="480"></canvas>

<script>
    let canvas = document.querySelector('#canvas');
    let context = canvas.getContext("2d");
    let video = document.querySelector("#video");

    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia){
        navigator.mediaDevices.getUserMedia({video: true}).then(stream => {
                video.srcObject = stream;
                video.play();
            }
        )
    }
    document.getElementById('snap').addEventListener('click', () =>{
        context.drawImage(video, 0,0,640,480);
    })

</script>