{{> navbar }}

{{#if flash}}
<div style="text-align: center" id="flash" class="alert alert-{{flash.type}}" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{flash.text}}</strong>
</div>
{{/if}}

<div class="d-flex justify-content-center align-items-center pt-5" id="main">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">{{code}}</h1>
    <div class="inline-block align-middle">
    	<h2 class="font-weight-normal lead" id="desc">{{text}}</h2>
    </div>
</div>