{{> navbar_index}}

{{#if flash}}
<div style="text-align: center" id="flash" class="alert alert-{{flash.type}}" role="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{flash.text}}</strong>
</div>
{{/if}}


<h1>Hello Karlosaku alfo</h1>
<a href="/avatar">Click</a>

<script>
    setTimeout(function() {
    $('#flash').remove();
}, 3000); 
</script>