{{> navbar_index}}

{{#if flash}}
<div style="text-align: center" id="flash" class="alert alert-{{flash.type}}" role="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{flash.text}}</strong>
</div>
{{/if}}

<div class="row">
  <div class="col-2">
    <h2>Tools</h2>
    <button class="btn btn-primary">Chat</button>

  </div>
  <div class="col-6">
    <form action="/posts/addNewPost" method="post">
      <div class="form-group">
        <label for="postInput">New Post</label>
        <input type="text" class="form-control" id="postInput" name="postInput" aria-describedby="postHelp"
          placeholder="What's new?">
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Add Post</button>
      </div>
    </form>
    <hr class="solid">
    <div id="postsContent">
      <h2>Posts</h2>
      <ul>
          {{#each posts}}
            <li>
              {{#each this}} {{@key}}: 1 {{/each}}
            </li>
          {{/each}}

      </ul>
    </div>
  </div>
  <div class="col-4">
    
    <h2>Contacts</h2>
    <ul>
      <li>
        karel
      </li>
      <li>
        pepa
      </li>
      <li>
        tom
      </li>
    </ul>
    
    
    </div>
</div>


<script>
  setTimeout(function () {
    $('#flash').remove();
  }, 3000);
</script>