<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!--form start-->
                <form class="form-container">
                    <h2 class="text-center">Register</h2>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted text-center">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <div class="input-group" id="show_hide_password">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            <i class="far fa-eye" id="togglePassword" 
                                style="cursor: pointer; margin-left: -30px; margin-top: 10px; z-index: 100;"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputConfirm1">Confirm password</label>
                        <div class="input-group" id="show_hide_confirm">
                            <input type="password" class="form-control" id="exampleInputConfirm1" placeholder="Password">
                            <i class="far fa-eye" id="toggleConfirm" 
                                style="cursor: pointer; margin-left: -30px; margin-top: 10px; z-index: 100;"></i>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Register</button>
                        <button type="submit" class="btn btn-primary">Back</button>
                    </div>
                </form>
            <!--form end-->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const toggleConfirm = document.querySelector('#toggleConfirm');
    
    const password = document.querySelector('#exampleInputPassword1');
    const confirmPassword = document.querySelector('#exampleInputConfirm1');


    togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});

    toggleConfirm.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
    confirmPassword.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});




</script>